<div class="jumbotron bg-transparent text-center">
    <div *ngIf="!user" class="card text-center">
      <h4 class="card-header">
   Zacharia Brown Portal
      </h4>
      <div class="card-block">
        <h5 class="card-title mt-4 mb-4">Please Choose a Sign In Provider</h5>
      </div>
      <div class="card-block p-4">

        <button class="btn btn-block btn-social btn-google mb-4" (click)="signInWithGoogle()"><span class="fa fa-google"></span> Sign in with Google</button>
        <button class="btn btn-block btn-social btn-facebook" (click)="signInWithFB()"><span class="fa fa-facebook"></span>Sign in with Facebook</button>
      </div>
    </div>

  </div>